input, textarea {
  /*text-transform: uppercase;*/
}

main > div.callout {
  border: none;
}

table {
  font-size: 0.75em;
  width: 100% !important;
}

span[data-close="thumbnail"] {
  color: white;
  position: absolute;
  right: 10px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 1;
  background: black;
  cursor: pointer;
}

[data-reveal-thumbs] img.thumbnail {
  opacity: 0.5;
  cursor: pointer;
}

[data-reveal-thumbs] img.thumbnail:hover {
  opacity: 1;
}

[data-reveal-thumbs] img.thumbnail.selected {
  opacity: 1;
}

[data-reveal-thumbs] [data-check] {
  position: absolute;
  top: calc(100% - 36px);
  left: calc(50% - 24px);
}

[data-reveal-thumbs] [data-error] {
  position: absolute;
  top: calc(100% - 36px);
  left: calc(50% - 24px);
}

.dataTables_wrapper .row {
  max-width: 100%;
}

.dataTables_wrapper .row .columns {
  padding: 0;
}

.dt-buttons {
  float: right !important;
  margin-left: 10px;
}

.dt-button {
  margin: 0 !important;
}

.dropdown.menu > li.active > a:after {
  border-color: #fff transparent transparent;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 3px 10px 1px #c0c0c0;
}

.ui-autocomplete-loading {
  background: url("../img/cargando.gif") no-repeat right center;
  background-position-x: calc(100% - 10px);
}

.ui-menu-item {
  padding: 5px 0;
  border-bottom: 1px solid #bdbdbd;
}

.ui-menu-item-wrapper {
  display: block;
}

.file-upload {
  position: relative;
  overflow: hidden;
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.column-block {
  position: relative;
}

.expanded.button-group {
  margin-left: -4px !important;
  margin-right: 3px !important;
}

.cb-1 {
  top: 0;
  background: grey;
  color: white;
  width: 30px;
}

.progress {
  overflow: hidden;
}

.progress .progress-meter {
  -webkit-animation: progressMeterLoop 1s linear infinite; /* Safari 4+ */
  -moz-animation:    progressMeterLoop 1s linear infinite; /* Fx 5+ */
  -o-animation:      progressMeterLoop 1s linear infinite; /* Opera 12+ */
  animation:         progressMeterLoop 1s linear infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes progressMeterLoop {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}
@-moz-keyframes progressMeterLoop {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}
@-o-keyframes progressMeterLoop {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}
@keyframes progressMeterLoop {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}